.create-department-wrapper {
  border-radius: 10px;
  padding: 20px;
  height: 190px;
  background: var(--background-color);
}

.details-form {
  flex-grow: 1;
}
.form-part {
  display: flex;
  gap: 20px;
}
