.create-organization-wrapper {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.photo-part {
  display: flex;
  gap: 20px;
}
.middle-part {
  flex-grow: 1;
}
.last-part {
  margin-top: -25px;
}
