/* OtpPage.css */
.otp-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.otp-content {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  width: auto;
  max-width: 90%;
}

.otp-box {
  margin: 0 auto;
  max-width: 100%;
  height: max-content;
}

.logo-container img {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

.form-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

.instructions {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  margin-top: 20px;
  line-height: 1.5;
}

.otp-input {
  width: 50%; /* Full width */
  padding: 15px; /* Increased padding */
  font-size: 24px;
  text-align: center;
  border: 2px dashed red !important;
  border-radius: 50px !important;
  outline: none;
  color: #d32f2f !important;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto 30px; /* Added bottom margin */
}

.otp-input::placeholder {
  color: #aaa;
}

.otp-field {
  margin-bottom: 30px;
  text-align: center;
}

.otp-button {
  display: inline-box;
  padding: 15px 40px; /* Increased padding */
  font-size: 18px; /* Slightly increased font size */
  text-align: center;
  text-decoration: none;
  background-color: #e62526;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px; /* Full width */

}

.otp-button:hover {
  background-color: #911925;
  color: white;
}

.copyright {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #666;
  text-align: center;
}
